.dynamic-form{
    background-color: lightgoldenrodyellow;
    padding-top: 4.5%;
    padding-left: 35%;
    padding-bottom: 2%;
    padding-right: 35%;
    
}

.full{
    padding-left: 25%;
    padding-top: 25%;
    padding-right: 25%;
    padding-bottom: 25%;

}

input[type=text], input[type=password], input[type=email]{
    background-color:whitesmoke;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}


input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
    background-color: rgb(119, 229, 241);
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

#color0{
   color : red;
}

#color1{
   color: red;
}

#color2{
    color: green;
}

#color3{
   color : yellow
}

#color4{
   color : lightgreen
}

#color5{
   color : orange
}

#colorw{
   color : violet
}